@import "flat-ui/variables";

.container-centered {
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 800px;
}

.image.avatar {
	border-radius: 100%;
}

.image.avatar:before {
	display: none;
}

.image.avatar img {
	border-radius: 100%;
	width: 100%;
}

.banner {
//  border-bottom: 1px solid #eeeeee;
  margin-top: 18px;
//  padding-bottom: 34px;
}

.banner h1 {
  color: #E74C3C;
  font-weight: 700;
  margin-top: 15px;
  font-size: floor(($font-size-base * 2.4));
}


.jumbotron {
  text-align: center;
}

.jumbotron h2 {
//  margin-top: 20px;
  padding-bottom: 25px;
  font-size: floor(($font-size-base * 1.4));
}

.contact ul {
  list-style-type: none;
  overflow: hidden;
}

.contact div {
 	float: right;
}

.contact li {
  display:inline;
  margin: 15px 10px 10px 10px;
  font-size: floor(($font-size-base * 1.5));
}

.image img {
	border-radius: 0.35em;
	display: block;
}

.image.left {
	float: left;
	margin: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	margin: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.left, .image.right {
	max-width: 40%;
}

.post h2 {
  font-size: floor(($font-size-base * 1.6));
}

.post h3 {
  font-size: floor(($font-size-base * 1.2));
}

ul {
  list-style-type: none;
}

.articles li {
  line-height: 42px;
}
