---
layout: layout
---

<div class="jumbotron">
  <h2><strong>Ruby, Lego&trade; and other things I dig</strong></h2>
</div>
<hr/>

<h2>Articles</h2>

<% blog.articles.each do |article| %>
  <article>
    <h3>
      <time><%= article.date.strftime('%e %b %Y') %></time> &raquo;
      <a href="<%= article.url %>"><%= article.title %></a>
    </h3>
  </article>
<% end %>
